.import/
.vscode/
override.gd
override.cfg
addons/ignored/
Tools/version.gd
Tools/Photos/*.png
build_settings.json
__pycache__/
Tools/Editor/steam_api64.dll
.DS_Store
Export/Templates/osx_template.app/
Export/xcode*
.chunks
ChunksV4/
.manifest
Backup/
Related/
Export/GenericContent/
Export/Android/cmdline-tools
Export/Steamworks/tools/ContentBuilder/output/